{% extends "basic_layout.html" %}

{% block title %}Pages{% endblock %}

{% block content1 %}

<h1>Configuration for Realisation: {{ realisation.name }}</h1>

    <p><strong>Number:</strong> {{ realisation.id }}</p>
    <p><strong>Name:</strong> {{ realisation.name }}</p>
    <p><strong>Author:</strong> {{ realisation.author }}</p>
    <p><strong>Version:</strong> {{ realisation.version }}</p>
    <p><strong>Layer:</strong></p>p>

{% endblock %}

{% block content2 %}
{% endblock %}

{% block side1 %}
{% endblock %}

{% block side2 %}
{% endblock %}

{% block crumb %}
{% endblock %}