{% extends "basic_layout.html" %}

{% block title %}Page Details{% endblock %}

{% block content1 %}
Symbolpage number: {{ symbolpagenr }} <br>
Notepage number; {{ notepagenr }}
{% endblock %}

{% block content2 %}
    {% set pict_base_url_symbolpage = "/static/Pages/Symbolpage" %}
    {% set pict_base_url_notepage = "/static/Pages/Notepage" %}

    {% set pict_url_symbolpage = pict_base_url_symbolpage ~ symbolpagenr ~ ".jpeg"  %}
    {% set pict_url_notepage = pict_base_url_notepage ~ notepagenr ~ ".jpeg"  %}
<table>
    <tr>
        <td>
            <img class = page_image src="{{ pict_url_symbolpage }}">
        </td>
        <td>
            {% for n in range(1,54) %}
            {{ n }}
            {% endfor %}
            <br>
            {{ pts }}
        </td>
    </tr>
    <tr>
        <td>
             <img class = page_image src="{{ pict_url_notepage }}">
        </td>
        <td>

        </td>
    </tr>
</table>



{% endblock %}

{% block side1 %}
{% endblock %}

{% block side2 %}
   <a href="{{ url_for('index') }}"><button>Back to Main</button></a>
    <a href="{{ url_for('realisations') }}"><button>Back to Realisations</button></a>
{# TODO eerst nog zorgen dat deze variabelen worden meegegeven aan deze pagine
<a href="{{ url_for('pages', realisation_number=realisation['id'], layer_id=Config_Layer['layer_id']) }}"><button>Back to Pages</button></a>
#}

{% endblock %}

{% block crumb %}
{% endblock %}