{% extends "basic_layout.html" %}


{% block title %}Pages{% endblock title %}


{% block content1 %}

<h1>Pages for Layer {{ configuration.layer_id }} of Realisation: {{ realisation.name }}</h1>
<table>
    <tr>
        <td>
        <strong>Number:</strong> {{ realisation.id }}<br>
        <strong>Name:</strong> {{ realisation.name }}<br>
        <strong>Author:</strong> {{ realisation.author }}<br>
        <strong>Version:</strong> {{ realisation.version }}<br>
        </td>
        <td></td>
        <td>
        <strong>Layer nr:</strong> {{ configuration.layer_id }}<br>
        <strong>Layer name:</strong> {{ configuration.name }}<br>
        <strong>Symbol pages order:</strong> {{ configuration.squarepages }}<br>
        <strong>Note page order:</strong> {{ configuration.notepages }}<br>
        </td>
    </tr>
</table>


{% endblock content1 %}

{% block content2 %}
<table class="pages_table">
    <tr>
        <td class="centered_column"><strong>1</strong></td>
        <td class="centered_column"><strong>2</strong></td>
        <td class="centered_column"><strong>3</strong></td>
        <td class="centered_column"><strong>4</strong></td>
        <td class="centered_column"><strong>5</strong></td>
        <td class="centered_column"><strong>6</strong></td>
        <td class="centered_column"><strong>7</strong></td>
    </tr>
    <tr>
        {% set pict_base_url = "/static/Pages/Symbolpage" %}
        {% for nr in configuration.squarepages  %}
        <td>
            Symbolpage {{ nr }}
            {% set pict_url = pict_base_url ~ nr %}
            {% set pict_name = pict_url %}
            {% set pict_tn_url = pict_url ~ "_tn.jpg" %}
            {% set pict_url = pict_url ~ ".pdf" %}
            <a href="{{ pict_url }}"><img src="{{ pict_tn_url }}" alt="{{ pict_name }}"></a>
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameter
        </td>
        <td>
            parameters
        </td>
    </tr>

    <tr>
        {% set pict_base_url = "/static/Pages/Notepage" %}
        {% for nr in configuration.notepages  %}
        <td>
            Notepage {{ nr }}
            {% set pict_url = pict_base_url ~ nr %}
            {% set pict_name = pict_url %}
            {% set pict_tn_url = pict_url ~ "_tn.jpg" %}
            {% set pict_url = pict_url ~ ".pdf" %}
            <a href="{{ pict_url }}"><img src="{{ pict_tn_url }}" alt="{{ pict_name }}"></a>
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameters
        </td>
        <td>
            parameter
        </td>
        <td>
            parameters
        </td>
    </tr>
    <tr>
        {% for n in range(0, 7) %}
        {% set nr_s = configuration.squarepages[n]  %}
        {% set nr_n = configuration.notepages[n] %}
        <td>
            <button>
                <a href="{{ url_for('page_detail', symbolpagenr=nr_s, notepagenr=nr_n) }}">zoom in</a>
            </button>
        </td>

        {% endfor %}
    </tr>

</table>
{% endblock content2 %}

{% block side1 %}
{% endblock %}

{% block side2 %}
    <a href="{{ url_for('index') }}"><button>Back to Main</button></a>
    <a href="{{ url_for('realisations') }}"><button>Back to Realisations</button></a>
    <a href="{{ url_for ('configuration', realisation_number=realisation['id']) }}"><button>Back to Configurations</button></a>
  {% endblock %}

{% block crumb %}
{% endblock %}