{% extends "basic_layout.html" %}

{% block title %}Realisations{% endblock %}

{% block content1 %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Version</th>
                <th>Number of Layers</th>
            </tr>
        </thead>
        <tbody>
            {% for realisation in realisations %}
            <tr>
                <td>{{ realisation['id'] }}</td>
                <td><a href="{{ url_for('realisations', id=realisation['id']) }}">{{ realisation['name'] }}</a></td>
                <td>{{ realisation['author'] }}</td>
                <td>{{ realisation['version'] }}</td>
                <td>{{ realisation['number_of_layers'] }}</td>
                <td><a href="{{ url_for('configuration', realisation_number=realisation['id']) }}"><button>Configurations</button></a></td>
                <td><a href="{{ url_for('delete_realisation', realisation_number=realisation['id'])}}"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock %}


{% block side1 %}
{% endblock %}

{% block side2 %}
    <a href="{{ url_for('realisations', id=0) }}"><button>New</button></a>
    <a href="{{ url_for('index') }}"><button>Back to Main</button></a>
    <a href="{{ url_for('realisations') }}"><button>Back to Realisations</button></a>

{% endblock %}

{% block content2 %}

    <a href="{{ url_for('configuration', realisation_number=selected_realisation.id if selected_realisation else 0) }}"><button>Configurations</button></a>

    <form method="POST" action="{{ url_for('save_realisation') }}">
        <input type="hidden" name="id" value="{{ selected_realisation.id if selected_realisation else 0 }}">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="name" value="{{ selected_realisation.name if selected_realisation else '' }}"></td>
            </tr>
            <tr>
                <td><label for="author">Author:</label></td>
                <td><input type="text" id="author" name="author" value="{{ selected_realisation.author if selected_realisation else '' }}"></td>
            </tr>
            <tr>
                <td><label for="version">Version:</label></td>
                <td><input type="text" id="version" name="version" value="{{ selected_realisation.version if selected_realisation else '' }}"></td>
            </tr>
            <tr>
                <td><label for="number_of_layers">id of Layers:</label></td>
                <td><input type="number" id="number_of_layers" name="number_of_layers" min=1 max=7 value="{{ selected_realisation.number_of_layers if selected_realisation else 0 }}"></td>
            </tr>

        </table>
        <input type="submit" value="Save">
        <p style="font-size:11px"><label>maximum number of layers is 7, minimum is 1</label></p>

    </form>

{% endblock %}


{% block crumb %}
{% endblock %}
